<html>
<head>
    <link rel="stylesheet" href="static/css/main.css">
</head>
<body>
<div>

    <section>
    <h1> MovieClue </h1>
    <h2> To find your next favorite movie, enter the title of the most recent film you saw. </h2>
    <form name="form" method="POST" action="\">
        <input type="text" name="searchText" placeholder="Type a title.." required="required" /> <br>
        <center>
        <button type="submit" class="button"> ▶ </button>
        </center>
      </form>

    </section>

</div>
</body>
</html>